<div class="container py-2 border border-light">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Posição</th>
        <th scope="col">Nome do Time</th>
        <th scope="col">Pontuação</th>
        <th scope="col">V | E | D</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dado of table">
        <th scope="row">{{dado.rank}}</th>
        <td><img class="teamLogo" src="{{dado.team.logo}}" alt="">{{dado.team.name}}</td>
        <td>{{dado.points}}</td>
        <td>{{dado.all.win}} | {{dado.all.draw}} | {{dado.all.lose}}</td>
      </tr>
    </tbody>
  </table>
</div>
