<swiper [slidesPerView]="3" [spaceBetween]="50"
  [navigation]="true" *ngIf="matches$ | async as matches">
  <ng-template swiperSlide *ngFor="let part of matches.response">
    <div class="card">
      <div class="img-wrapper">
        <img src="{{part.teams.home.logo}}" alt="...">
        <h5 class="versus text-center"> X </h5>
        <img src="{{part.teams.away.logo}}" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{part.teams.home.name}} x {{part.teams.away.name}}</h5>
        <p class="card-text text-center"> <i class="bi bi-geo-alt-fill"></i> {{part.fixture.venue.name}}</p>
        <p class="card-text text-center"> <i class="bi bi-stopwatch-fill"></i> {{convertDate(part.fixture.date)}}</p>
      </div>
    </div>
  </ng-template>
</swiper>



