<div class="container text-center teamcard" *ngIf="team$ | async as teams">
  <div class="row row-cols-5" >
    <div class="col" *ngFor="let dado of teams.response">
      <div class="card dark">
        <img src="{{dado.team.logo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="text-section">
            <h5 class="card-title fw-bold">{{dado.team.name}}</h5>
          </div>
          <div class="cta-section">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="infoTeam(dado.team.id, dado.team.name)">
               Ver detalhes <i class="bi bi-info-circle-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{infoTeamName}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <div class="lastResults" *ngIf="lastMatches$ |async as lastMatches; else loading">
          <h5 class="text-center">Ultimos Resultados</h5>
          <div class="card" *ngFor="let lPart of lastMatches.response">
            <div class="img-wrapper">
              <img src="{{lPart.teams.home.logo}}" alt="...">
              <h5 class="versus text-center"> X </h5>
              <img src="{{lPart.teams.away.logo}}" alt="...">
            </div>
            <div class="card-body">
              <h6 class="card-title text-center">{{lPart.teams.home.name}} {{lPart.goals.home}} x {{lPart.goals.away}} {{lPart.teams.away.name}}</h6>
              <p class="card-text text-center"> <i class="bi bi-geo-alt-fill"></i>{{lPart.fixture.venue.name}}</p>
              <p class="card-text text-center"> <i class="bi bi-stopwatch-fill">{{convertDate(lPart.fixture.date)}}</i></p>
            </div>
          </div>
        </div>
        <ng-template #loading class="loadingTemplate">
          <img src="\assets\footballAK.svg" alt="" class="spinner">
          <h2>Carregando...</h2>
        </ng-template>
        <div class="nextMatches py-5" *ngIf="nextMatches$ | async as nextMatches">
          <h5 class="text-center">Proximas Partidas</h5>
          <div class="card" *ngFor="let nPart of nextMatches.response">
            <div class="img-wrapper">
              <img src="{{nPart.teams.home.logo}}" alt="...">
              <h5 class="versus text-center"> X </h5>
              <img src="{{nPart.teams.away.logo}}" alt="...">
            </div>
            <div class="card-body">
              <h6 class="card-title text-center">{{nPart.teams.home.name}} x {{nPart.teams.away.name}}</h6>
              <p class="card-text text-center"> <i class="bi bi-geo-alt-fill"></i>{{nPart.fixture.venue.name}}</p>
              <p class="card-text text-center"> <i class="bi bi-stopwatch-fill"></i>{{convertDate(nPart.fixture.date)}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
