.teamcard .card {
  flex-direction: row;
  width: 250px;
  height: 110px;
  border: 0;
  background-color: #696969;
  color: #fff;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.teamcard .card img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.teamcard .card-body-team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teamcard .cta-section {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.teamcard .cta-section .btn {
  padding: 0.2em 0.5em;
  font-size: 1em;
  color: #000000;
}

.teamcard .card-text {
  letter-spacing: 0.1em;
}
.teamcard .col{
  margin-bottom: 20px;
}



.modal-body .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-body .versus {
  margin: 10%;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  width: 15%;
  margin-top: 5%;
}

.modal-body .card {
  margin: 0 .5em;
  display: inline-block;
  width: 350px;
}

.loadingTemplate{
    position: fixed;
      top: 50%;
      left: 50%;
      margin-left: 500px;
}
.spinner {
  width: 75px;
  height: 75px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
