.card {
  flex-direction: row;
  width: 250px;
  height: 110px;
  border: 0;
  background-color: #696969;
  color: #fff;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.card img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta-section {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cta-section .btn {
  padding: 0.2em 0.5em;
  font-size: 1em;
  color: #000000;
}

.card-text {
  letter-spacing: 0.1em;
}
.col{
  margin-bottom: 20px;
}
